@import "tailwindcss";

:root {
  --background: #7c2e2e;
  --foreground: #f6ff00;
  --evento-width: calc(100vw - 100px);
  --evento-height: calc(100vh - 140px);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6ff00;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}
