@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.draft {
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-content: center;
}

.menuItem {
  perspective: 800px;
  display: inline-block;
}

.flipCard {
  width: 60px;
  height: 60px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(.4,2,.3,1);
}

.menuItem:hover .flipCard {
  transform: rotateY(360deg);
}

/* Faces */
.front,
.back {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

/* Frente */
.front {
  background: transparent;
}

/* Verso (aparece no meio do giro) */
.back {
  transform: rotateY(180deg);
}

.textbtn {
  transition: fadeIn ease;
}
