/* SphereLayout.module.css */

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.visible {
  opacity: 1;
}

/* Área que organiza os elementos */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 24px;

  width: 100%;
  height: 100%;
  padding: 80px;

  /* Máscara circular (buraco no centro) */
  -webkit-mask-image: radial-gradient(
    circle at center,
    transparent 0px,
    transparent 160px,
    black 200px
  );

  mask-image: radial-gradient(
    circle at center,
    transparent 0px,
    transparent 160px,
    black 200px
  );
}
